{
  "overrides": [
    {
      "files": [".prettierrc", ".babelrc", ".eslintrc", ".stylelintrc"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.js",
      "options": {
        "semi": true,
        "tabWidth": 4
      }
    }
  ],
  "singleQuote": true
}
