/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~photonkit/dist/css/photon.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  background-color: #232c39;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.alert-error {
  padding: 5px 10px;
  background: rgb(241, 158, 158);
  border: 1px solid #b02020;
  color: #b02020;
  margin-bottom: 10px;
}

.btn .icon,
.btn .icon img {
  cursor: pointer;
}

.ansi-white { color: #eee; }
.ansi-red { color: #b00020; }
.ansi-green { color: #00c000; }
.ansi-yellow { color: yellow; }
.ansi-blue { color: rgb(50, 50, 238); }
.ansi-cyan { color: #00d0d0; }
.ansi-bold { font-weight: bold; }
.ansi-reset { color: #eee; background-color: rgb(30, 30, 30); }
