/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~photonkit/dist/css/photon.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  position: relative;
  background-color: #232c39;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.alert-error {
  padding: 5px 10px;
  background: rgb(241, 158, 158);
  border: 1px solid #b02020;
  color: #b02020;
  margin-bottom: 10px;
}

.btn .icon,
.btn .icon img {
  cursor: pointer;
}

.ansi-white {
  color: #eee;
}
.ansi-red {
  color: #b00020;
}
.ansi-green {
  color: #00c000;
}
.ansi-yellow {
  color: yellow;
}
.ansi-blue {
  color: rgb(50, 50, 238);
}
.ansi-cyan {
  color: #00d0d0;
}
.ansi-bold {
  font-weight: bold;
}
.ansi-reset {
  color: #eee;
  background-color: rgb(30, 30, 30);
}
.ansi-hl {
  white-space: nowrap;
  display: inline-block;
  color: #222;
  font-weight: bold;
  min-width: 65px;
  padding: 0 2px;
  position: relative;
  margin-right: 7px;
  margin-bottom: 1px;
}
.ansi-hl::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  position: absolute;
  right: -16px;
  top: 0;
}
.ansi-hl--1 {
  background-color: #f92672;
}
.ansi-hl--2 {
  background-color: #66d9ef;
}
.ansi-hl--3 {
  background-color: #c64241;
}
.ansi-hl--4 {
  background-color: #e08c4a;
}
.ansi-hl--5 {
  background-color: #00d0d0;
}
.ansi-hl--6 {
  background-color: #e36242;
}
.ansi-hl--7 {
  background-color: #3b9ed8;
}

.ansi-hl--1::after {
  border-left-color: #f92672;
}
.ansi-hl--2::after {
  border-left-color: #66d9ef;
}
.ansi-hl--3::after {
  border-left-color: #c64241;
}
.ansi-hl--4::after {
  border-left-color: #e08c4a;
}
.ansi-hl--5::after {
  border-left-color: #00d0d0;
}
.ansi-hl--6::after {
  border-left-color: #e36242;
}
.ansi-hl--7::after {
  border-left-color: #3b9ed8;
}

.well {
  border: 1px solid #ccc;
  padding: 7px;
}

.gutter {
  height: 10px;
}

.form-group > label {
  display: block;
  margin-bottom: 0;
  font-weight: bold;
}

.form-group--checkbox > label {
  display: inline;
  margin-left: 5px;
}

button.btn {
  cursor: pointer;
}
