.container {
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  align-items: stretch;
}

[class^='col-'] {
  padding-left: 8px;
  padding-right: 7px;
  overflow: hidden;
}

.col-1 {
  flex-basis: 8.3333%;
  width: 8.3333%;
}
.col-2 {
  flex-basis: 16.6666%;
}
.col-3 {
  flex-basis: 25%;
}
.col-4 {
  flex-basis: 33.3333%;
}
.col-5 {
  flex-basis: 41.6666%;
}
.col-6 {
  flex-basis: 50%;
}
.col-7 {
  flex-basis: 58.3333%;
}
.col-8 {
  flex-basis: 66.6666%;
}
.col-9 {
  flex-basis: 75%;
}
.col-10 {
  flex-basis: 83.3333%;
}
.col-11 {
  flex-basis: 91.6666%;
}
.col-12 {
  flex-basis: 100%;
}

/** rgb(51, 51, 51) **/

/** rgb(30, 30, 30) **/

/** #9cdcfe 
        #cccccc
        #d4d4d4
        **/

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #d4d4d4;
  font-family: sans-serif;
  font-size: 14px;
}

h4,
h5,
h6 {
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.list--level-1 {
  padding-left: 10px;
}

.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
}

.btn {
  height: 20px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  cursor: pointer;
}

.btn-primary {
  color: #eee;
  background: #b00020;
  border: 1px solid #a00010;
}

.btn-secondary {
  background: #397fe9;
  border: 2px solid #175dc7;
}

.nova-icon {
  width: 20px;
  height: 20px;
}
.btn-icon {
  display: block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
}

.btn-icon svg {
  width: 100%;
  height: 100%;
}
.btn-icon--green {
  fill: green;
}
.btn-icon--blue {
  fill: rgb(76, 89, 226);
}
.btn-icon--red {
  fill: #b00020;
}
.btn-icon img {
  width: 100%;
  height: 100%;
}

ul#control-panel li {
  margin-bottom: 7px;
  overflow: hidden;
}
